In [1]:
from metricq.pandas import PandasHistoryClient
import metricq

In [2]:
client = PandasHistoryClient(token="history-notebook-pandas-example",url="amqp://admin:admin@localhost", add_uuid=True)
await client.connect()

In [3]:
metric = "elab.ariel.power"
now = metricq.Timestamp.now()
start_time = now - metricq.Timedelta.from_string("356d")
df_aggregate = await client.history_aggregate_timeline(metric, start_time=start_time, end_time=now, interval_max=metricq.Timedelta.from_string("30d"))

In [4]:
df_aggregate.describe()

,timestamp,minimum,maximum,sum,count,integral_ns,active_time,mean,mean_integral,mean_sum,integral_s
count,16,16.000000,16.000000,1.600000e+01,1.600000e+01,1.600000e+01,16,16.000000,16.000000,16.000000,1.600000e+01
mean,2022-10-28 23:33:20,44.189104,529.980508,3.469185e+09,3.997224e+07,1.735784e+17,23 days 03:33:20,86.789200,86.789200,86.787557,1.735784e+08
min,2022-05-08 08:53:20,22.669203,193.229156,2.754075e+09,3.980382e+07,1.378179e+17,23 days 03:33:20,68.908942,68.908942,68.909144,1.378179e+08
25%,2022-08-03 04:13:20,34.589550,432.339607,2.774195e+09,3.996412e+07,1.388592e+17,23 days 03:33:20,69.429580,69.429580,69.429318,1.388592e+08
50%,2022-10-28 23:33:20,47.969501,552.633820,2.826499e+09,3.999486e+07,1.413341e+17,23 days 03:33:20,70.667074,70.667074,70.667066,1.413341e+08
75%,2023-01-23 18:53:20,51.409111,700.263397,3.547542e+09,3.999872e+07,1.779061e+17,23 days 03:33:20,88.953029,88.953029,88.989932,1.779061e+08
max,2023-04-20 14:13:20,56.362167,765.781311,6.428447e+09,3.999989e+07,3.214631e+17,23 days 03:33:20,160.731526,160.731526,160.725588,3.214631e+08
std,NaN,9.946549,200.044892,1.124721e+09,5.005583e+04,5.625301e+16,0 days 00:00:00,28.126507,28.126507,28.119481,5.625301e+07

In [5]:
df_aggregate.dtypes

timestamp         datetime64[ns]
minimum                  float64
maximum                  float64
sum                      float64
count                      int64
integral_ns              float64
active_time      timedelta64[ns]
mean                     float64
mean_integral            float64
mean_sum                 float64
integral_s               float64
dtype: object

In [6]:
df_aggregate

,timestamp,minimum,maximum,sum,count,integral_ns,active_time,mean,mean_integral,mean_sum,integral_s
0,2022-05-08 08:53:20,47.148315,706.997009,2.754075e+09,39966752,1.378179e+17,23 days 03:33:20,68.908942,68.908942,68.909144,1.378179e+08
1,2022-05-31 12:26:40,32.133179,765.781311,4.785220e+09,39932185,2.398132e+17,23 days 03:33:20,119.906583,119.906583,119.833658,2.398132e+08
2,2022-06-23 16:00:00,34.732819,632.136292,6.428447e+09,39996411,3.214631e+17,23 days 03:33:20,160.731526,160.731526,160.725588,3.214631e+08
3,2022-07-16 19:33:20,22.669203,698.018860,5.168078e+09,39999885,2.584046e+17,23 days 03:33:20,129.202305,129.202305,129.202331,2.584046e+08
4,2022-08-08 23:06:40,34.159744,508.385712,3.222007e+09,39803821,1.617997e+17,23 days 03:33:20,80.899874,80.899874,80.947178,1.617997e+08
5,2022-09-01 02:40:00,47.985229,204.357193,2.863051e+09,39999885,1.431529e+17,23 days 03:33:20,71.576453,71.576453,71.576479,1.431529e+08
6,2022-09-24 06:13:20,31.242771,564.773865,3.150994e+09,39998329,1.575555e+17,23 days 03:33:20,78.777729,78.777729,78.778133,1.575555e+08
7,2022-10-17 09:46:40,51.360985,497.920654,2.765528e+09,39956240,1.384301e+17,23 days 03:33:20,69.215058,69.215058,69.213923,1.384301e+08
8,2022-11-09 13:20:00,47.953773,715.927673,4.524147e+09,39994868,2.262250e+17,23 days 03:33:20,113.112492,113.112492,113.118197,2.262250e+08
9,2022-12-02 16:53:20,43.168755,469.569214,3.175613e+09,39999894,1.587807e+17,23 days 03:33:20,79.390365,79.390365,79.390536,1.587807e+08
10,2022-12-25 20:26:40,50.379284,540.493774,2.781286e+09,39994343,1.390839e+17,23 days 03:33:20,69.541946,69.541946,69.541976,1.390839e+08
11,2023-01-18 00:00:00,51.553490,694.038757,2.789947e+09,39994852,1.395154e+17,23 days 03:33:20,69.757696,69.757696,69.757653,1.395154e+08
12,2023-02-10 03:33:20,52.160843,193.229156,2.779623e+09,39979132,1.390532e+17,23 days 03:33:20,69.526586,69.526586,69.526844,1.390532e+08
13,2023-03-05 07:06:40,51.118492,219.914642,2.770629e+09,39996411,1.385440e+17,23 days 03:33:20,69.271985,69.271985,69.271932,1.385440e+08
14,2023-03-28 10:40:00,56.362167,320.650787,2.774088e+09,39999891,1.387047e+17,23 days 03:33:20,69.352327,69.352327,69.352377,1.387047e+08
15,2023-04-20 14:13:20,52.896618,747.493225,2.774231e+09,39942880,1.389107e+17,23 days 03:33:20,69.455331,69.455331,69.454964,1.389107e+08

In [7]:
metric = "elab.ariel.power"
now = metricq.Timestamp.now()
start_time = now - metricq.Timedelta.from_string("60s")
df_raw = await client.history_raw_timeline(metric, start_time=start_time, end_time=now)

In [8]:
df_raw.describe()

                           timestamp        value
count                           1188  1188.000000
mean   2023-05-15 11:47:51.338475520    69.202844
min    2023-05-15 11:47:21.664763560    59.364769
25%    2023-05-15 11:47:36.495216128    68.487183
50%    2023-05-15 11:47:51.341668096    68.924477
75%    2023-05-15 11:48:06.172038144    69.484030
max    2023-05-15 11:48:21.018522497   110.600342
std                              NaN     2.158202

In [9]:
df_raw.dtypes

timestamp    datetime64[ns]
value               float64
dtype: object

In [10]:
df_raw

                         timestamp      value
0    2023-05-15 11:47:21.664763560  68.584450
1    2023-05-15 11:47:21.712466346  68.552910
2    2023-05-15 11:47:21.760268475  68.448364
3    2023-05-15 11:47:21.808011240  69.096359
4    2023-05-15 11:47:21.871679498  69.309860
...                            ...        ...
1183 2023-05-15 11:48:20.811492975  68.963547
1184 2023-05-15 11:48:20.859218578  68.496284
1185 2023-05-15 11:48:20.907158554  67.811333
1186 2023-05-15 11:48:20.986588274  74.804367
1187 2023-05-15 11:48:21.018522497  69.600571

[1188 rows x 2 columns]